body {
    display: flex;
    height: 100vh;
    background-color: #36454f;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 50px;
    padding: 50px;
}

.buttonContainer button {
    margin: 10px;
    padding: 10px;
    border-radius: 75px;
    width: 100px;

}

.confirmChoice {
    width: 350px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin: 10px;
    background-color: bisque;
    min-height: 75px;
    border-radius: 75px;
}

.text {
    font-weight: 900;
    font-size: 24px;
}

.subtext {
    font-style: italic;
    font-size: 10px;
}

.scoreline {
    display: flex;
    width: 350px;
    justify-content: space-evenly;
    align-items: space-between;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: buttonface;
    padding: 10px;
    width: 100px;
    margin-bottom: 15px;
    border-radius: 75px;
    border-top: solid white 1px;
    border-left: solid white 1px;
}

.computer {
    display: flex;
    justify-content: center;
    background-color: buttonface;
    padding: 10px;
    margin-bottom: 15px;
    width: 100px;
    border-radius: 75px;
    border-top: solid white 1px;
    border-left: solid white 1px;
}

.finalText {
    padding: 10px;
    font-size: 56px;
    background-color: buttonface;
    border-radius: 75px;
    margin-bottom: 25px;
    min-height: 75px;
    min-width: 400px;

}

.finalScore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}